<p id="notice"><%= notice %></p>


<h1>Details of pet</h1>
</br>
<p>
  <strong>Chipnumber:</strong>
  <%= @pet.chipNumber %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status %>
</p


<p>
  <strong>Ownername:</strong>
  <%= @pet.ownerName %>
</p>

<p>
  <strong>Owneradress:</strong>
  <%= @pet.ownerAdress %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pet.email %>
</p

<p>
  <strong>pet name:</strong>
  <%= @pet.petName %>
</p

<p>
  <strong>Payment:</strong>
  <%= @pet.payment %>
</p>

<p>
  <strong>Dateofarrival:</strong>
  <%= @pet.dateOfArrival %>
</p>
</br>
<%= link_to 'Edit', edit_pet_path(@pet), class:"btn btn-secondary btn-sm" %> |
<% if user_signed_in? %>
    <%= link_to 'Back', pets_path, class:"btn btn-secondary btn-sm"%>
<% else %>
    <%= link_to 'Back', home_index_path, class:"btn btn-secondary btn-sm"%>
<% end %>
